<parkouracademy-container class="conditions">
  <h1 class="gdpr__headline">Podmínky Urban Sense Academy</h1>

  <p>
    Každý cvičenec parkour kroužku v Urban Sense Academy mladší 18-ti let podléhá řádu Urban Sense Academy a naslouchá
    pokynům trenérů. Nedodržení řádu může být v krajním případě potrestáno i vyloučením. Pokud cvičenec takto opustí
    Urban Sense Academy, ztratí nárok na vrácení poplatku. Pokud cvičenec nenastoupí do parkour kroužku, ztratí nárok
    na vrácení poplatku. Za svou bezpečnost, osobní věci a cennosti si během celé účasti na parkour kroužku každý
    cvičenec zodpovídá sám, nebo za jeho bezpečnost odpovídají zákonní zástupci. Účastník se zříká jakékoliv náhrady
    za zranění, ublížení na zdraví či poškození věci. Doporučujeme zajistit si úrazové pojištění vhodné pro aktivity
    se zvýšeným rizikem úrazu.
  </p>

  <p>
    Potvrzuji pravdivost uvedených osobních údajů a jsem seznámen a plně souhlasím
    s tímto prohlášením a to stvrzuji svým přihlášením do Urban Sense Academy.
  </p>
</parkouracademy-container>
