<div class="city" *ngIf="city?.loaded">
  <usacademy-container>

    <ui-row class="section-select">
      <ui-col class="section-select__col section-select__col--trainings" vertical-center>
        <button class="section-select__button" (click)="selectActiveSection(0)" ui-button>
          Kroužky
        </button>
      </ui-col>
      <ui-col class="section-select__col section-select__col--camps" vertical-center>
        <button class="section-select__button" (click)="selectActiveSection(2)" ui-button>
          Příměstské tábory
        </button>
      </ui-col>
      <ui-col class="section-select__col section-select__col--workshops" vertical-center>
        <button class="section-select__button" (click)="selectActiveSection(1)" ui-button>
          Workshopy
        </button>
      </ui-col>
    </ui-row>

    <usacademy-trainings
      *ngIf="activeSection === 0"
      [beginners]="city?.data?.trainings_beginners"
      [advanced]="city?.data?.trainings_advanced"
      [pin]="city?.data?.parent"
    ></usacademy-trainings>

    <usacademy-workshops-list
      *ngIf="activeSection === 1"
      [workshops]="city?.data?.workshops"
      [pin]="city?.data?.parent"
    ></usacademy-workshops-list>

    <usacademy-camps-list
      *ngIf="activeSection === 2"
      [camps]="city?.data?.camps"
      [pin]="city?.data?.parent"
    ></usacademy-camps-list>

  </usacademy-container>
</div>

<div class="city" *ngIf="city?.loading">
  <usacademy-container>
    <ui-greybox [height]="'82px'"></ui-greybox>
    <ui-greybox [height]="'108px'"></ui-greybox>
    <ui-greybox [height]="'108px'"></ui-greybox>
    <ui-greybox [height]="'108px'"></ui-greybox>
    <ui-greybox [height]="'108px'"></ui-greybox>
  </usacademy-container>
</div>
