@import "../../../../../scss/variables";

.city {
  background-color: map-get($theme, background-alternative);
  padding: 0 0 8rem 0;
}

.section-select {
  border-bottom: .2rem solid map-get($theme, color-secondary);
  flex-direction: column;

  @media (min-width: $breakpoint-m) {
    flex-direction: row;
  }
}

.section-select__col {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  margin: 0;
  justify-content: center;

  @media (min-width: $breakpoint-m) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

  }
}

.section-select__col--trainings {
  @media (min-width: $breakpoint-m) {
    justify-content: flex-start;
  }
}

.section-select__col--camps {
  @media (min-width: $breakpoint-m) {
    justify-content: center;
  }
}

.section-select__col--workshops {
  @media (min-width: $breakpoint-m) {
    justify-content: flex-end;
  }
}

.section-select__button {
  font-size: 3rem;
  height: 6.5rem;
  font-weight: map-get($theme, font-weight-bold);
  margin-bottom: 0.5rem;
}

:host /deep/ {
  .table {
    border-collapse: collapse;
    overflow-x: auto;
  }

  .table__tr {
    display: flex;

    &:last-child {
      .table__th,
      .table__td {
        border-bottom: 0;
      }
    }
  }

  .table__tr--highlight {
    &:hover {
      background-color: map-get($theme, background-primary);
      box-shadow: -3px 4px 9px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .table__th,
  .table__td {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: left;
    padding: 3rem;
    font-weight: map-get($theme, font-weight-normal);
    display: flex;
    align-items: center;
    min-width: 15rem;
    border-bottom: 0.1rem solid map-get($theme, line-secondary);
  }

  .table__th {
    font-size: 1.4rem;
  }

  .table__td {
    font-size: 1.6rem;
    font-weight: map-get($theme, font-weight-bold);
  }

  .table__td--price { }

  .table__td--city {
    text-transform: uppercase;
  }

  .table__td--signed { }

  .table__td--date { }

  .table__td--time { }

  .table__td--actions {
    display: flex;
    justify-content: flex-end;
  }
}
