<parkouracademy-slide class="slide slide--welcome">
  <parkouracademy-welcome></parkouracademy-welcome>
</parkouracademy-slide>


<div id="o-nas"></div>
<parkouracademy-slide class="slide about-us--desktop">
  <parkouracademy-about-us
    inViewport (inViewportAction)="onIntersection($event)" [@expandIn]="isVisible"></parkouracademy-about-us>
</parkouracademy-slide>
<parkouracademy-about-us class="about-us--mobile"></parkouracademy-about-us>

<parkouracademy-map id="vyber-mest" [pins]="pins | async"></parkouracademy-map>

<parkouracademy-city id="terminy" [city]="city | async"></parkouracademy-city>

<parkouracademy-contact id="kontakt"></parkouracademy-contact>
