<usacademy-header></usacademy-header>

<usacademy-slide class="slide">
  <h1 class="slogan">Baví vás parkour?</h1>
</usacademy-slide>

<!--<usacademy-slide class="slide">
  <div class="about-us" inViewport (inViewportAction)="onIntersection($event)" [@expandIn]="isVisible">
    <h3>O nás</h3>
    <p>
      Parkour vyžaduje kvalitní a bezpečné zázemí a vedení! Po mnohaletých zkušenostech tomu velmi dobře rozumíme,
      a proto vytváříme se záštitou známého mezinárodního parkour týmu Urban Sense pro veřejnost a parkour komunitu
      pravidelné kroužky, workshopy a letní tábory. V Academy Vás naučíme základům parkouru a dáme prostor pro Váš
      rychlý rozvoj v tréninku.
    </p>
    <ul class="list">
      <li class="list__item">Bezpečné zázemí</li>
      <li class="list__item">Profesionální vedení</li>
      <li class="list__item">Přátelský kolektiv</li>
      <li class="list__item">Známé tváře</li>
    </ul>
  </div>
</usacademy-slide>-->

<usacademy-map [pins]="pins | async"></usacademy-map>

<usacademy-footer></usacademy-footer>


