@import "../../../../../scss/variables";

:host {
  display: block;
  background: map-get($theme, background-primary) url("../../../../../assets/bg.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
}

:host /deep/ .header--scrolled {
  box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.14);
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan {
  color: map-get($theme, text-secondary);
  text-transform: uppercase;
  font-size: 16rem;
  letter-spacing: 2rem;
  text-align: center;
  width: 95rem;
  font-family: map-get($theme, font-secondary);
  line-height: 1.1;
}

.about-us {
  background-color: map-get($theme, background-primary);
  border-radius: 50%;
  width: 80rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13rem;
  font-size: 1.8rem;
  overflow: hidden;
}

.list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5rem;
  list-style: none;
}

.list__item {
  flex: 0 0 calc(50% - 2.5rem);
  margin-left: 2.5rem;
  text-transform: uppercase;
  font-family: map-get($theme, font-secondary);
  font-weight: map-get($theme, font-weight-bold);
  font-size: 2rem;
  margin-bottom: 1.5rem;

  &::before {
    content: "\2022";
    color: map-get($theme, color-secondary);
    font-weight: bold;
    display: inline-block;
    width: 2.5rem;
    margin-left: -2.5rem;
    font-size: 2.4rem;
  }
}
