@import "../../../../../scss/variables";

.logo {
  text-decoration: none;
  color: map-get($theme, color-secondary);
}

.logo__icon {
  font-size: 9rem;
}

.logo__icon--scrolled {
  font-size: 6.2rem;
}


