@import "../../../../../scss/variables";

.logo {
  display: flex;
  height: 8rem;
  width: 8rem;
  align-items: center;
  justify-content: center;
}

.logo--scrolled {
  height: 6.2rem;
  width: 6.2rem;
}

.logo__img {
  object-fit: contain;
  height: 100%;
}


