@import "../../../../../scss/variables";

:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 0 0 auto;
}

.logo {
  display: inline-block;
  height: 100%;
}

.logo__img {
  object-fit: contain;
  height: 100%;
}


