@import "../../../../../scss/variables";

.navigation {
  display: flex;
  list-style: none;
}

.navigation__item {
  margin-right: 5rem;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: map-get($theme, text-secondary);
  font-size: 2rem;
  transition: color 150ms;
  font-family: map-get($theme, font-secondary);
  font-weight: map-get($theme, font-weight-bold);
  letter-spacing: 0.3rem;

  &:hover {
    color: map-get($theme, color-primary);
  }

  /deep/ .scrolled & {
    font-size: 1.8rem;
    color: map-get($theme, text-primary);
  }
}
