@import "../../../../../scss/variables";

.contact {
  background-color: map-get($theme, background-primary);
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__container {
  max-width: 32rem;
}

.contact__headline {
  margin-left: 0.7rem;
}

.contact__link,
.contact__line {
  display: block;
  text-align: center;
  margin: 0;
}

.contact__separator {
  margin-top: 4rem;
}

.contact__link {
  text-decoration: none;
  color: map-get($theme, color-primary);

  &:hover {
    text-decoration: underline;
  }
}

