@import "../../../../../scss/variables";

.header {
  height: 10rem;
  display: flex;
  padding: 0 5rem;
  transition: height 200ms;
}

.header--scrolled {
  height: 8rem;
}

.header__col {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__col--navigation {
  justify-content: flex-start;
}

.header__col--logo {
  justify-content: center;
}

.header__col--social-medias {
  justify-content: flex-end;
}

.header__logo {
  height: 70%;
}
