@import "../../../../../scss/variables";

.header {
  height: 11.7rem;
  display: flex;
  padding: 0 5rem;
  transition: all 250ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
}

.header--scrolled {
  height: 9rem;
  background-color: rgba(255, 255, 255, 1);

  .header__col--logo {
    align-items: center;
  }
}

.header__col {
  flex: 1;
  display: flex;
  align-items: center;
}

.header__col--navigation {
  justify-content: flex-start;
}

.header__col--logo {
  justify-content: center;
  align-items: flex-end;
}

.header__col--social-medias {
  justify-content: flex-end;
}

