<div class="header" [class.header--scrolled]="isScrolled">
  <div class="header__col header__col--navigation">
    <usacademy-navigation [links]="navigation | async" [isScrolled]="isScrolled"></usacademy-navigation>
  </div>
  <div class="header__col header__col--logo">
    <usacademy-logo class="header__logo"></usacademy-logo>
  </div>
  <div class="header__col header__col--social-medias">
    <usacademy-social-medias [links]="socialMedias | async" [isScrolled]="isScrolled"></usacademy-social-medias>
  </div>
</div>
