@import "../../../../../scss/variables";

.header {
  height: 11.7rem;
  display: flex;
  padding: 0 2rem;
  transition: all 250ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;

  @media (min-width: $breakpoint-xxs) {
    padding: 0 5rem;
  }
}

.header--scrolled {
  height: 9rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.14);

  .header__col--logo {
    align-items: center;
  }
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--navigation {
  display: none;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0;

  @media (min-width: $breakpoint-l) {
    display: flex;
    justify-content: flex-start;
  }
}

.header__col--logo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  align-items: flex-end;
  justify-content: flex-start;

  @media (min-width: $breakpoint-l) {
    justify-content: center;
  }
}

.header__col--social-medias {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0;
  justify-content: flex-end;
}

