<div class="header" [class.header--scrolled]="isScrolled">
  <div class="header__col header__col--navigation">
    <parkouracademy-navigation [links]="navigation | async" [isScrolled]="isScrolled"></parkouracademy-navigation>
  </div>
  <div class="header__col header__col--logo">
    <parkouracademy-logo class="header__logo" [isScrolled]="isScrolled"></parkouracademy-logo>
  </div>
  <div class="header__col header__col--social-medias">
    <parkouracademy-social-medias [links]="socialMedias | async" [isScrolled]="isScrolled"></parkouracademy-social-medias>
  </div>
</div>
