@import "../../../../../scss/variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us {
  background-color: map-get($theme, background-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  overflow: hidden;
  padding: 6rem 0;

  width: 100%;
  height: 100%;

  @media (min-height: $breakpoint-l) {
    border-radius: 50%;
    width: 80rem;
    height: 80rem;
    padding: 13rem;
  }

}

.about-us__headline {
  margin: 0 0 4rem 0;
}

.about-us__text { }

.about-us__list {
  display: flex;
  flex-flow: row wrap;
  margin: 4rem 0 0 4rem;
  list-style: none;

  @media (min-width: $breakpoint-xs) {
    margin-left: 1rem;
  }
}

.about-us__list-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  text-transform: uppercase;
  font-family: map-get($theme, font-secondary);
  font-weight: map-get($theme, font-weight-bold);
  font-size: 2rem;
  margin-bottom: 1.5rem;

  &::before {
    content: "\2022";
    color: map-get($theme, color-secondary);
    font-weight: bold;
    display: inline-block;
    width: 2.5rem;
    margin-left: -2.5rem;
    font-size: 2.4rem;
  }

  @media (min-width: $breakpoint-xs) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 2.5rem);
    margin-left: 2.5rem;
  }
}
