<div class="about-us">
  <h1 class="about-us__headline">O nás</h1>
  <p class="about-us__text">
    Parkour vyžaduje kvalitní a bezpečné zázemí a vedení! Po mnohaletých zkušenostech tomu velmi dobře rozumíme,
    a proto vytváříme se záštitou známého mezinárodního parkour týmu Urban Sense pro veřejnost a parkour komunitu
    pravidelné kroužky, workshopy a letní tábory. V Academy Vás naučíme základům parkouru a dáme prostor pro Váš
    rychlý rozvoj v tréninku.
  </p>
  <ul class="about-us__list">
    <li class="about-us__list-item">Bezpečné zázemí</li>
    <li class="about-us__list-item">Profesionální vedení</li>
    <li class="about-us__list-item">Přátelský kolektiv</li>
    <li class="about-us__list-item">Známé tváře</li>
  </ul>
</div>
