@import "../../../../../scss/variables";

.about-us {
  background-color: map-get($theme, background-primary);
  border-radius: 50%;
  width: 80rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 13rem;
  font-size: 1.8rem;
  overflow: hidden;
}

.about-us__headline {
  margin: 0 0 4rem 0;
}

.about-us__text { }

.about-us__list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4rem;
  list-style: none;
}

.about-us__list-item {
  flex: 0 0 calc(50% - 2.5rem);
  margin-left: 2.5rem;
  text-transform: uppercase;
  font-family: map-get($theme, font-secondary);
  font-weight: map-get($theme, font-weight-bold);
  font-size: 2rem;
  margin-bottom: 1.5rem;

  &::before {
    content: "\2022";
    color: map-get($theme, color-secondary);
    font-weight: bold;
    display: inline-block;
    width: 2.5rem;
    margin-left: -2.5rem;
    font-size: 2.4rem;
  }
}
