<usacademy-container class="gdpr">
  <h1 class="gdpr__headline">Ochrana osobních údajů</h1>

  <p class="gdpr__paragraph">
    Ochrana osobních údajů přihlášeného, který je fyzickou osobou, je poskytována zákonem č. 101/2000 Sb., o ochraně
    osobních údajů, ve znění pozdějších předpisů.
  </p>

  <p class="gdpr__paragraph">
    Přihlášený souhlasí se zpracováním těchto svých osobních údajů: jméno a příjmení, adresa bydliště, identifikační
    číslo, daňové identifikační číslo, adresa elektronické pošty, telefonní číslo a (dále společně vše jen
    jako „osobní údaje“).
  </p>

  <p class="gdpr__paragraph">
    Přihlášený souhlasí se zpracováním osobních údajů prodávajícím, a to pro účely realizace práv a povinností z
    přihlášky. Nezvolí-li přihlášený jinou možnost, souhlasí se zpracováním osobních údajů poskytovatele, také pro
    účely zasílání informací a obchodních sdělení přihlášenému. Souhlas se zpracováním osobních údajů v celém rozsahu
    dle tohoto článku není podmínkou, která by sama o sobě znemožňovala vypsání přihlášky.
  </p>

  <p class="gdpr__paragraph">
    Přihlášený bere na vědomí, že je povinen své osobní údaje (při přihlášení provedené z webového rozhraní obchodu)
    uvádět správně a pravdivě a že je povinen bez zbytečného odkladu informovat poskytovatele o změně ve svých
    osobních údajích.
  </p>

  <p class="gdpr__paragraph">
    Přihlášený potvrzuje, že poskytnuté osobní údaje jsou přesné a že byl poučen o tom, že se jedná o dobrovolné
    poskytnutí osobních údajů.
  </p>

</usacademy-container>
