<usacademy-header mode="background"></usacademy-header>

<usacademy-container>
  <h1>Ochrana osobních údajů</h1>

  <p>
    Stisknutím tlačítka "Objednat", souhlasíte s tím, že vás můžeme telefonicky a emailem kontaktovat za účelem řešení
    ochrany pojistných rizik Vás a Vaší rodiny.
  </p>

  <p>
    Zároveň se můžete těšit na zajímavé informace z oboru financí, které Vám budeme zpravidla 1x měsíčně posílat
    emailem. Pokud už nebudete chtít email newslettery dále dostávat, tak se kdykoli můžete odhlásit a tento souhlas
    odvolat prostřednictvím odhlašovacího odkazu v každé zprávě. Vaše údaje budeme spravovat pod firmou Boneo
    ekonomické poradenství s.r.o. a řídit se těmito zásadami zpracování a ochrany osobních údajů.
  </p>

  <h2>Zpracování a ochrana osobních údajů</h2>

  <p>
    Pokud jste naším zákazníkem, odběratelem novinek nebo návštěvníkem webu, svěřujete nám své osobní údaje. My
    zodpovídáme za jejich ochranu a zabezpečení. Seznamte se, prosím, s ochranou osobních údajů, zásadami a
    právy, které máte v souvislosti s GDPR (Nařízení o ochraně osobních údajů).
  </p>

  <p>
    Jsme společnost Boneo ekonomické poradenství s.r.o., IČ 24236861, se sídlem Durchova 101/66, 142 00 Praha
    zapsaná u Městského soudu v Praze pod spisovou značkou 201200 C, která provozuje webové stránky
    skakejvpoho.cz, boneo.cz. Vaše osobní údaje zpracováváme jako správce, tj. určujeme, jak budou osobní údaje
    zpracovávány a za jakým účelem, po jak dlouhou dobu a vybíráme případné další zpracovatele, kteří nám se
    zpracováním budou pomáhat.
  </p>

</usacademy-container>
