<div class="selected-training">
  <ng-container *ngIf="!!training; else noCity">
    <div class="selected-training__city">
      {{ training?.city?.name }}
    </div>
    <div class="selected-training__type">
      {{ training?.type | trainingTypeToString }}
    </div>
    <div class="selected-training__price">
      {{ isFullYear ? 2 * training?.price : training?.price }},-
    </div>
    <hr class="selected-training__spacer">

    <ng-container [ngSwitch]="training?.type">
      <ui-dl *ngSwitchCase="0">
        <ui-dt>Den</ui-dt>
        <ui-dd>{{ training?.day }}</ui-dd>
        <ui-dt>Čas</ui-dt>
        <ui-dd>{{ training?.time }}</ui-dd>
        <ui-dt>Období</ui-dt>
        <ng-container *ngIf="isFullYear">
          <ui-dd class="ui-dd--no-space">{{ training?.season }}</ui-dd>
          <ui-dd >{{ training?.yearly?.season }}</ui-dd>
        </ng-container>
        <ng-container *ngIf="!isFullYear">
          <ui-dd >{{ training?.season }}</ui-dd>
        </ng-container>
        <ui-dt>Adresa</ui-dt>
        <ui-dd>{{ training?.address }}</ui-dd>
      </ui-dl>
      <ui-dl *ngSwitchCase="1">
        <ui-dt>Termín</ui-dt>
        <ui-dd>{{ training?.date }}</ui-dd>
        <ui-dt>Čas</ui-dt>
        <ui-dd>{{ training?.time }}</ui-dd>
        <ui-dt>Adresa</ui-dt>
        <ui-dd>{{ training?.address }}</ui-dd>
      </ui-dl>
      <ui-dl *ngSwitchCase="2">
        <ui-dt>Termín</ui-dt>
        <ui-dd>{{ training?.date }} - {{ training?.date_to }}</ui-dd>
        <ui-dt>Adresa</ui-dt>
        <ui-dd>{{ training?.address }}</ui-dd>
      </ui-dl>
    </ng-container>

  </ng-container>
  <ng-template #noCity>
    <ui-row>
      <ui-col>Nemáte vybraný žádný kroužek / tábor / workshop.</ui-col>
    </ui-row>
    <ui-row>
      <ui-col horizontal-center>
        <a [routerLink]="['/']" ui-button="positive">
          Přejít na výběr měst
        </a>
      </ui-col>
    </ui-row>
  </ng-template>
</div>

