<usacademy-container>
  <h1>Rezervace</h1>

  <ui-row>
    <ui-col class="ui-col--form">
      <ui-row>
        <ui-col>
          <ui-input
            type="text"
            placeholder="Jméno a příjmení"
            additionalPlaceholder="účastníka"
            [control]="form.controls.name"
          ></ui-input>
        </ui-col>
        <ui-col>
          <ui-input
            type="text"
            placeholder="Jméno a příjmení"
            additionalPlaceholder="zákonného zástupce"
            [control]="form.controls.parent"
          ></ui-input>
        </ui-col>
      </ui-row>
      <ui-row>
        <ui-col>
          <ui-input
            type="text"
            placeholder="E-mail"
            [control]="form.controls.email"
          ></ui-input>
        </ui-col>
        <ui-col>
          <ui-input
            type="text"
            placeholder="Telefon"
            [control]="form.controls.phone"
          ></ui-input>
        </ui-col>
      </ui-row>

      <ui-row *ngIf="training?.type === 2">
        <ui-col>
          <ui-input
            type="text"
            placeholder="Pojišťovna"
            [control]="form.controls.insurance"
          ></ui-input>
        </ui-col>
        <ui-col>
          <ui-input
            type="text"
            placeholder="Rodné číslo účastníka"
            [control]="form.controls.pid_number"
          ></ui-input>
        </ui-col>
      </ui-row>


      <ui-row>
        <ui-col>
          <ui-input
            type="text"
            placeholder="Jméno a příjmení / Firma"
            additionalPlaceholder="volitelné"
            [control]="form.controls.company"
          ></ui-input>
        </ui-col>
        <ui-col></ui-col>
      </ui-row>

      <ui-row>
        <ui-col>
          <ui-input
            type="text"
            placeholder="IČO"
            additionalPlaceholder="volitelné"
            [control]="form.controls.tin"
          ></ui-input>
        </ui-col>
        <ui-col>
          <ui-input
            type="text"
            placeholder="DIČ"
            additionalPlaceholder="volitelné"
            [control]="form.controls.vat"
          ></ui-input>
        </ui-col>
      </ui-row>



      <ui-row>
        <ui-col>
          <ui-input
            type="textarea"
            placeholder="Zdravotní omezení"
            additionalPlaceholder="volitelné"
            [control]="form.controls.condition"
          ></ui-input>
        </ui-col>
      </ui-row>
      <ui-row>
        <ui-col>
          <ui-input
            type="textarea"
            placeholder="Poznámka"
            additionalPlaceholder="volitelné"
            [control]="form.controls.text"
          ></ui-input>
        </ui-col>
      </ui-row>
    </ui-col>
    <ui-col class="ui-col--selected">
      <usacademy-selected-training [training]="training"></usacademy-selected-training>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input
        type="checkbox"
        [control]="form.controls.gdpr_consent"
      >
        Souhlasím se <a class="reservation__link" target="_blank" [routerLink]="['/', 'gdpr']">zpracováním osobních údajů</a>
      </ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col>
      <ui-input
        type="checkbox"
        [control]="form.controls.conditions_consent"
      >
        Souhlasím s <a class="reservation__link" target="_blank" [routerLink]="['/', 'podminky']">podmínkami Urban Sense Academy</a>
      </ui-input>
    </ui-col>
  </ui-row>
  <ui-row>
    <ui-col horizontal-center>
      <button ui-button="positive" [disabled]="form.invalid || form.pristine" (click)="postReservation()">
        Odeslat rezervaci
      </button>
    </ui-col>
  </ui-row>

</usacademy-container>
