@import "../../../../../scss/variables";

:host {
  display: block;
  padding-top: 9rem;
}

.ui-col--form {
  order: 3;
}

.ui-col--selected {
  order: 2;
}

.ui-row {
  flex-wrap: wrap;
}

.ui-col {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

@media (min-width: $breakpoint-s) {
  .ui-col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }

  .ui-col--form {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

@media (min-width: $breakpoint-xl) {
  .ui-col--form {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
    order: 1;
  }
}

.reservation__link {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.reservation__subheadline {
  text-align: left;
  margin-bottom: 0;
}

.reservation__subheadline--no-margin {
  margin-top: 0;
}

.reservation__tooltip {
  border: 0.2rem solid map-get($theme, color-primary);
  padding: 0.5rem 1.5rem 0.4rem 1.5rem;
  background-color: map-get($theme, background-primary);
  text-transform: uppercase;
  color: map-get($theme, color-primary);
  font-size: 1.4rem;
  font-family: map-get($theme, font-secondary);
  font-weight: map-get($theme, font-weight-bold);
  max-width: 25rem;
}

.reservation__input--company {
  &::ng-deep .ui-input__placeholder {
    display: flex;
    justify-content: space-between;
  }
}
