@import "../../../../../scss/variables";

.footer {
  background-color: map-get($theme, background-secondary);
  padding: 0 2rem;
  margin-top: 10rem;
  flex-direction: column;

  @media (min-width: $breakpoint-l) {
    padding: 0 20%;
    flex-direction: row;
  }
}

.footer__col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  flex-direction: column;

  &:first-child {
    padding-top: 6rem;
  }

  &:last-child {
    padding-bottom: 6rem;
  }

  @media (min-width: $breakpoint-l) {
    padding: 6rem 0;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}

.footer__text,
.footer__link {
  color: map-get($theme, text-alternative);
  font-size: 1.2rem;
}

.footer__link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
