@import "../../../../../scss/variables";

.map {
  background-color: map-get($theme, background-primary);
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map__container {
  position: relative;
  width: 111.2rem;
}

.map__img { }

.map__pin { }
