@import "../../../../../scss/variables";

.map {
  background-color: map-get($theme, background-primary);
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map__container {
  margin-top: 2rem;
  position: relative;
  width: 111.2rem;
  z-index: 1;
}

.map__img { }

.map__pin {
  cursor: pointer;
}

.map__tooltip{
  border: 0.2rem solid map-get($theme, color-primary);
  padding: 0.5rem 1.5rem 0.4rem 1.5rem;
  background-color: map-get($theme, background-primary);
  text-transform: uppercase;
  color: map-get($theme, color-primary);
  font-size: 1.4rem;
  font-family: map-get($theme, font-secondary);
  font-weight: map-get($theme, font-weight-bold);
}
