@import "../../../../../scss/variables";

.map {
  background-color: map-get($theme, background-primary);
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
