<ng-container *ngIf="!!camps?.length; else empty">
  <div class="table" [@fadeInStagger]="camps?.length">
    <div class="table__tr">
      <div class="table__th table__th--date">Termín</div>
      <div class="table__th">Obsazenost</div>
      <div class="table__th table__th">Cena</div>
      <div class="table__th"></div>
    </div>
    <div class="table__tr table__tr--highlight" *ngFor="let camp of camps">
      <div class="table__td table__td--date">
        {{ camp.date }} - {{ camp.date_to }}
      </div>
      <div class="table__td table__td--signed">
        {{ camp.paid }}/{{ camp.capacity }}
      </div>
      <div class="table__td table__td--price">
        {{ camp.price }},-
      </div>
      <div class="table__td table__td--actions">
        <a [routerLink]="['/', pin.id, camp.id]" ui-button="positive">detail</a>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #empty>
  <p>Momentálně nejsou naplánované žádné tábory ve Vašem městě.</p>
</ng-template>
