@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon/icomoon.eot');
  src:  url('assets/fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
  url('assets/fonts/icomoon/icomoon.ttf') format('truetype'),
  url('assets/fonts/icomoon/icomoon.woff') format('woff'),
  url('assets/fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
