* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: map-get($theme, font-primary);
  font-weight: map-get($theme, font-weight-normal);
  background: map-get($theme, background-primary) url("assets/bg.jpg") no-repeat top center;
  color: map-get($theme, text-primary);
}
