* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: map-get($theme, font-primary);
  font-weight: map-get($theme, font-weight-light);
  background: map-get($theme, background-primary) url("assets/bg.jpg") no-repeat top center;
  color: map-get($theme, text-primary);
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin: 0 0 5rem 0;
  font-family: map-get($theme, font-secondary);
  font-weight: map-get($theme, font-weight-bold);
}
