<parkouracademy-container>
  <div class="content">
    <ui-row class="content__row content__row--desc" *ngIf="training?.text">
      <ui-col>
        <p>{{ training?.text }}</p>
      </ui-col>
    </ui-row>

    <ng-container [ngSwitch]="training?.type">

      <ng-container *ngSwitchCase="0">
        <ui-row>
          <ui-col>
            <ui-dl>
              <ui-dt>Období</ui-dt>
              <ui-dd>{{ training?.season }}</ui-dd>
            </ui-dl>
          </ui-col>
          <ui-col>
            <ui-dl>
              <ui-dt>Den kroužků</ui-dt>
              <ui-dd>{{ training?.day }}</ui-dd>
            </ui-dl>
          </ui-col>
        </ui-row>
        <ui-row>
          <ui-col>
            <ui-dl>
              <ui-dt>Čas</ui-dt>
              <ui-dd>{{ training?.time }}</ui-dd>
            </ui-dl>
          </ui-col>
          <ui-col>
            <ui-dl>
              <ui-dt>Adresa</ui-dt>
              <ui-dd>{{ training?.address }}</ui-dd>
            </ui-dl>
          </ui-col>
        </ui-row>
        <ui-row>
          <ui-col>
            <ui-dl>
              <ui-dt>Trenéři</ui-dt>
              <ui-dd>{{ training?.trainer }}</ui-dd>
            </ui-dl>
          </ui-col>
          <ui-col></ui-col>
        </ui-row>
        <ng-container [ngTemplateOutlet]="contact"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="1">
        <ui-row>
          <ui-col>
            <ui-dl>
              <ui-dt>Termín</ui-dt>
              <ui-dd>{{ training?.date }}</ui-dd>
            </ui-dl>
          </ui-col>
          <ui-col>
            <ui-dl>
              <ui-dt>Čas</ui-dt>
              <ui-dd>{{ training?.time }}</ui-dd>
            </ui-dl>
          </ui-col>
        </ui-row>
        <ui-row>
          <ui-col>
            <ui-dl>
              <ui-dt>Adresa</ui-dt>
              <ui-dd>{{ training?.address }}</ui-dd>
            </ui-dl>
          </ui-col>
          <ui-col></ui-col>
        </ui-row>
        <ng-container [ngTemplateOutlet]="contact"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="2">
        <ui-row>
          <ui-col>
            <ui-dl>
              <ui-dt>Termín</ui-dt>
              <ui-dd>{{ training?.date }}</ui-dd>
            </ui-dl>
          </ui-col>
          <ui-col>
            <ui-dl>
              <ui-dt>Náročnost</ui-dt>
              <ui-dd>{{ training?.difficulty }}</ui-dd>
            </ui-dl>
          </ui-col>
        </ui-row>
        <ui-row>
          <ui-col>
            <ui-dl>
              <ui-dt>Věk</ui-dt>
              <ui-dd>{{ training?.age }}</ui-dd>
            </ui-dl>
          </ui-col>
          <ui-col>
            <ui-dl>
              <ui-dt>Adresa</ui-dt>
              <ui-dd>{{ training?.address }}</ui-dd>
            </ui-dl>
          </ui-col>
        </ui-row>
        <ng-container [ngTemplateOutlet]="contact"></ng-container>
      </ng-container>

    </ng-container>
  </div>
</parkouracademy-container>



<ng-template #contact>
  <ui-row>
    <ui-col>
      <ui-dl>
        <ui-dt>Kontakt</ui-dt>
        <ui-dd>
          <div class="address">
            <div class="address__row address__row--name">
              {{ training?.leader?.name }}
            </div>
            <div class="address__row address__row--position">
              {{ training?.leader?.function }}
            </div>
            <div class="address__row address__row--phone">
              <a class="address__link" [href]="'callto:' + training?.leader?.phone">{{ training?.leader?.phone }}</a>
            </div>
            <!--<div class="address__row address__row&#45;&#45;email">
              <a class="address__link" [href]="'mailto:' + training?.leader?.email">{{ training?.leader?.email }}</a>
            </div>-->
          </div>
        </ui-dd>
      </ui-dl>
    </ui-col>
    <ui-col></ui-col>
  </ui-row>
</ng-template>
