@import "../../../../../scss/variables";

.content {
  margin-top: 8rem;
}

.content__row { }

.content__row--desc {
  margin-bottom: 4rem;
}

.address { }

.address__row {
  font-weight: map-get($theme, font-weight-normal);
  margin-bottom: .3rem;
}

.address__row--name {
  font-weight: map-get($theme, font-weight-bold);
}

.address__row--position {
  font-size: 1.4rem;
  color: map-get($theme, text-alternative);
}

.address__link {
  color: map-get($theme, color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ui-row {
  flex-direction: column;

  @media (min-width: $breakpoint-s) {
    flex-direction: row;
  }
}
