@import "../../../../../scss/variables";

.slide {
  background: url('../../../../../assets/bg_detail.png') no-repeat top center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.info {
  flex: 1;
}
