<div class="info">
  <usacademy-container>
    <h1 class="info__city">Jindřichův Hradec</h1>
    <h2 class="info__type">Příměstský tábor</h2>
  </usacademy-container>

  <div class="info__bar">
    <div class="info__row">
      <div class="info__col">
        <span class="info__price">{{ detail.price }},-</span>
      </div>
      <div class="info__col">
        <span class="info__signed">{{ detail.paid }}/{{ detail.capacity }}</span>
      </div>
      <div class="info__col">
        <button ui-button="positive">Rezervovat si místo</button>
      </div>
    </div>
  </div>
</div>
