@import "../../../../../scss/variables";

:host {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: map-get($theme, background-primary) url("../../../../../assets/logo.svg") no-repeat center center;
  background-size: 46.4rem 39.6rem;
  z-index: 11;
}


