@import "../../../../../scss/variables";

:host {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: map-get($theme, background-primary) url("../../../../../assets/pa_logo.svg") no-repeat top center;
  z-index: 11;
  background-size: 50rem auto;

  @media (min-width: $breakpoint-xs) {
    background-size: 80rem auto;
  }
}
