<ui-modal>
  <ui-modal-content>
    <ui-row>
      <ui-col horizontal-center>
        <ui-icon class="modal__icon">parkouracademy</ui-icon>
      </ui-col>
    </ui-row>
    <ui-row>
      <ui-col>
        <div class="modal__text">
          Právě jsme na Vámi uvedený e-mail zaslali potvrzení o přihlášení s bližšími informacemi a pokyny k platbě.
        </div>
      </ui-col>
    </ui-row>
  </ui-modal-content>
  <ui-modal-actions>
    <button (click)="modalService.close()" ui-button>OK</button>
  </ui-modal-actions>
</ui-modal>
